@import "tailwindcss";

@theme {
  --font-canaro: var(--font-canaro);
  --font-adobe: var(--font-adobe);
  --font-caslon: var(--font-caslon);

  --color-brand-primary: #3771d1;
  --color-brand-primary-light: #3771d1;
  --color-brand-primary-dark: #1e2c50;

  --color-brand-secondary: #f6793a;
  --color-brand-secondary-light: #f79243;
  --color-brand-secondary-dark: #f6793a;
}

.btn-floating-whatsapp {
  width: 60px;
  height: 60px;
  font-size: 14px;
  color: #fefdf4;
  line-height: 1rem;
  padding: 10px 10px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: #51c14b;
  border-radius: 999px;
  user-select: none;
  box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
  z-index: 9998;
  transition: all 0.3s ease;
}
.btn-floating-whatsapp:hover {
  scale: 1.05;
}

.btn-floating-whatsapp svg {
  width: 100%;
  height: 100%;
}

.btn-floating-whatsapp__animated:before {
  content: "";
  border-color: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  box-shadow: 0 0 0 0 rgba(37, 211, 101, 0);
  animation: _pulse 3.2s infinite;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-enter {
  animation: enter 0.3s ease-out forwards;
}

.animate-leave {
  animation: leave 0.3s ease-in forwards;
}
